.headerBackground {
    background-color: darkblue;
}

.header {
    width: 100vw;
    background-color: darkblue;
}

.header-nav {
    list-style: none;
}

#logo {
    height: 80px;
    width: 250px;
}

.hero-nav li button {
    background-color: darkblue;
    color: white;
    border-radius: 8px;
}

#nav-button {
    border-style: none;
}
#hero-img {
    height: 500px;
    /* width: 100vh; */
    object-fit: cover;
}

#scroll-buttons {
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    background-color: gray;
}

.middlesection {
    font-size: smaller;
    position: relative;
    /* margin-top: -20px; */
    padding-bottom: 30px;
    border-top: 1px groove #a9a9a9;
}

.middlesection button {
    color: white;
    background-color: #213349;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.middlesectioncolumn1 {
    border-right: 1px groove #a9a9a9;
}

.middlesectioncolumn3 {
    border-left: 1px groove #a9a9a9;
}

.bottomsection {
    background: rgb(88,88,88);
    background: linear-gradient(180deg, rgba(88,88,88,1) 0%, rgba(0,0,0,1) 35%, rgba(16,25,35,1) 100%);
    padding-top: 20px;
    font-size: smaller;
    position: relative;
    padding-bottom: 10px;
}

.bottomsection h6 {
    color: white;
    position: relative;
    text-align: center;
}

.bottomsectioncolumn1 li {
    color: #658080;
    margin-bottom: 8px;
    list-style-image: url(../src/images/media/cog2.png);
}

.bottomsectioncolumn2 li {
    color: white;
    margin-bottom: 6px;
    list-style-image: url(../src/images/media/chat2.png);
}

.bottomsectioncolumn2 p {
    color: #a9a98d;
}

.bottomsectioncolumn3 ul {
    list-style: none;
}

.bottomsectioncolumn3 li {
    color: white;
}

.list1 li {
    list-style-image: url(../src/images/media/nov21.png);
}

.list2 li {
    list-style-image: url(../src/images/media/nov9.png);
}

.list3 li {
    list-style-image: url(../src/images/media/nov17.png);
}

.bottomsectioncolumn3 p {
    color: #a9a98d;
}

.bottomsection button {
    color: white;
    background-color: #213349;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
}

.footer {
    background-color: #0e1e31;
    color: white;
    padding: 5px;
    font-size: small;
}



